<div class="balloon6">
  <div class="faceicon">
    <img src="/images/kid.png" alt="kidicon">
  </div>
  <div class="chatting">
    <div class="says">
      <p><%= message.content %></p>
    </div>
  </div>
</div>
