<div>
  <h1 class="text-center">
    <div>
    <% if @user.picture? %>
      <%= image_tag @user.picture.url %>
    <% else %>
      <%= image_tag("ahiru.png",:size => "200x200") %>
    <% end %>
    </div>
    <div><%= @user.name %></div>
    <div><%= link_to "chat start!",room_url,method: :get,class:'btn btn-success btn-lg' %></div>
  </h1>
</div>
