<div>
  <h1 class="text-center">
    <% if @user.picture? %>
      <%= image_tag @user.picture.url %>
    <% else %>
      <%= image_tag("ahiru.png",:size => "180x180") %>
    <% end %>
    <%= @user.name %>
    <%= link_to "chat start!",root_url,method: :get %>
  </h1>
</div>
