  <% if logged_in? %>
    <div class="line-bc">
      <div id="messages">
        <%= render @messages%>
　     </div>
    </div>
  <% else %>
    <%= link_to "Sign up",signup_path %>
    <%= link_to "Log in",login_path %>
  <% end %>
