  <% if logged_in? %>
    <div class="line-bc">
      <div id="messages">
        <%= render @messages%>
　     </div>
    </div>
  <% else %>
    <div class="center jumbotron text-center" style="background-color:#33FF33;">
      <h1 style="color:white">Chat Appへようこそ</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
    </div>

  <% end %>
