@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.container-fluid{
  background: #FFFFFF;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: image-url("maple-leaf-5094046_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Users index 
.users{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    .usersicon{
      display: inline-block;
      position: relative;
    }
    .usersname{
      display: inline-block;
      margin: 0 0 0 50px;
    }
  }
}
*/